In [2]:
#IPython is what you are using now to run the notebook
import IPython
print("IPython version:      %6.6s (need at least 1.0)" % IPython.__version__)

# Pandas makes working with data tables easier
import pandas as pd
print("Pandas version:       %6.6s (need at least 0.11.0)" % pd.__version__)

IPython version:       6.2.1 (need at least 1.0)
Pandas version:       0.22.0 (need at least 0.11.0)

In [3]:
# other import 
import re
from collections import Counter

In [4]:
#load dataset
data = pd.read_excel("output_sentiment.xlsx")

In [5]:
data.head()

,id,season,episode,scene,line_text,speaker,deleted,sentiment score,sentiment magnitude
0,1,1,1,1,All right Jim. Your quarterlies look very good...,Michael,False,0.2,0.8
1,2,1,1,1,"Oh, I told you. I couldn't close it. So...",Jim,False,0.0,0.3
2,3,1,1,1,So you've come to the master for guidance? Is ...,Michael,False,0.0,0.1
3,4,1,1,1,"Actually, you called me in here, but yeah.",Jim,False,0.2,0.2
4,5,1,1,1,"All right. Well, let me show you how it's done.",Michael,False,0.1,0.3

In [6]:
# sorting on bais of frequency of elements 
speaker_list = data["speaker"]
speaker_list_sorted = [item for items, c in Counter(speaker_list).most_common() for item in [items]] 
topSpeakerList = speaker_list_sorted[0:9]
print(topSpeakerList)

['Michael', 'Dwight', 'Jim', 'Pam', 'Andy', 'Kevin', 'Angela', 'Oscar', 'Erin']

In [7]:
# count for total number of the top 9 character
result = [item for items, c in Counter(speaker_list).most_common() for item in [items]*c]

topCount = 0

for i in result:
    if i in topSpeakerList:
        topCount += 1

print(topCount)

42193

In [8]:
# clean the dataFrame only remains the top 9 character's data
id_list = data["id"]

for idx in id_list:
    if speaker_list[idx-1] not in topSpeakerList :
        data = data.drop([idx-1],axis=0)

In [9]:
print(data["speaker"].nunique())

9

In [10]:
# delete deleted and setiment magnitude column 
data = data.drop(["deleted","sentiment magnitude"],axis=1)

In [11]:
data.head()

,id,season,episode,scene,line_text,speaker,sentiment score
0,1,1,1,1,All right Jim. Your quarterlies look very good...,Michael,0.2
1,2,1,1,1,"Oh, I told you. I couldn't close it. So...",Jim,0.0
2,3,1,1,1,So you've come to the master for guidance? Is ...,Michael,0.0
3,4,1,1,1,"Actually, you called me in here, but yeah.",Jim,0.2
4,5,1,1,1,"All right. Well, let me show you how it's done.",Michael,0.1

In [12]:
data.shape

(42193, 7)

In [13]:
# output the cleaned excel file 
# data.to_excel('topCast.xlsx', index=False)

In [15]:
print(len(data["line_text"]))

42193

In [4]:
#load dataset
data_topCast = pd.read_excel("topCast.xlsx")

In [5]:
data_topCast.head()

,id,season,episode,scene,line_text,speaker,sentiment score
0,1,1,1,1,All right Jim. Your quarterlies look very good...,Michael,0.2
1,2,1,1,1,"Oh, I told you. I couldn't close it. So...",Jim,0.0
2,3,1,1,1,So you've come to the master for guidance? Is ...,Michael,0.0
3,4,1,1,1,"Actually, you called me in here, but yeah.",Jim,0.2
4,5,1,1,1,"All right. Well, let me show you how it's done.",Michael,0.1

In [8]:
def isNaN(num):
    return num != num

In [12]:
print(isNaN(data_topCast["line_text"][6457]))

True

In [13]:
for i in range(len(data_topCast["line_text"])):
    if isNaN(data_topCast["line_text"][i]):
        data_topCast = data_topCast.drop([i],axis=0)

In [19]:
print(data_topCast.shape)

(41966, 7)

In [18]:
data_topCast.to_excel('topCast_cleaned.xlsx', index=False)